<link href="../ky-view/ky-view.html" rel="import">

<template>
    <style>
        :host {
            background: #000;
            overflow: hidden;
        }

        #base {
            position: relative;
            flex-grow: 1;
            width: 100%;
            height: 100%;
        }

        polyfill-next-selector {
            content: '#body > *';
        }

        ::content > * {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
    <div id="base">
        <content></content>
    </div>
</template>
<script src="ky-view-pager.js"></script>
