<link rel="import" href="../ky-button/ky-button.html">

<template>
    <style>
        :host {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: linear-gradient(#fff, #fcfcfc);
        }

        ky-view-pager {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        ky-headerpanel::shadow header {
            background: #444;
            color: #fff;
        }

        #logo {
            color: #fe680d;
            text-align: center;
        }

        #sendBtn {
            background: #fe680d;
            color: #fff;
        }

        #loginBtn {
            border: 2px solid #fe680d;
            background: transparent;
            color: #fe680d;
            font-size: 0.8em;
            font-weight: normal;
        }

        ky-button.-hover {
            background: rgba(255, 255, 255, 0.3);
        }

        ky-input {
        }

        .caption {
            color: #444;
            text-align: center;
        }

        #errorMsg {
            position: relative;
            color: #fe280d;
            text-align: center;
            height: 2em;
            opacity: 1;
            transition: opacity 0.2s ease;
        }

        #errorMsg.-hide {
            opacity: 0;
        }
    </style>
    <div class="container">
        <h2 id="logo">
            イベント企画アプリ(仮)
        </h2>

        <p class="caption">
            新規登録
        </p>

        <p class="-hide" id="errorMsg">ログイン出来ませんでした。<br>ID、パスワードを確認して下さい。</p>
        <ky-input title="名前" id="nameInput" block></ky-input>
        <ky-input title="メールアドレス" id="emailInput" block></ky-input>
        <ky-input title="パスワード(8文字以上)" id="passwordInput" password block></ky-input>
        <ky-button block id="sendBtn">送信</ky-button>
        <ky-button block id="loginBtn">アカウントをすでにお持ちの場合</ky-button>
    </div>
</template>

<script src="ky-signupview.js"></script>
